@font-face{
    font-family:Potra;
    src: url(Potra.otf);
}
h1{
    font-family: Potra;
    color: #3dbfbc;
    text-transform: uppercase;
    text-shadow: #720fac -2px 2px;
    font-size: 50px;
    background: #090909;
    border: 5px solid #090909;
}
h2{
    font-family: Potra;
    color: #3dbfbc;
    text-transform: uppercase;
    text-shadow: #720fac -2px 2px;
    font-size: 40px;
    background: #090909;
    border: 5px solid #090909;
}
h3{
    font-family: Potra;
    color: #3dbfbc;
    text-transform: uppercase;
    text-shadow: #720fac -2px 2px;
    font-size: 35px;
    background: #090909;
    border: 5px solid #090909;
}
h4{
    font-family: Potra;
    color: #a844f0;
    text-transform: uppercase;
    text-shadow:  #3dbfbc -2px 2px;
    font-size: 33px;
    background: #090909;
    border: 5px solid #090909;
}
h5{
    font-family: Potra;
    color: #720fac;
    text-transform: uppercase;
    text-shadow:  #3dbfbc -2px 2px;
    font-size: 28px;
    background: #FFFFFF;
    border: 5px solid #090909;
}
h6{
    font-family: Potra;
    color: #720fac;
    text-transform: uppercase;
    text-shadow:  #3dbfbc -2px 2px;
    font-size: 28px;
    background: #FFFFFF;
    border: 5px solid #090909;
}
a {
    color: #720fac;
    text-decoration: none;
}
p{
    font-family: Verdana, Tahoma, sans-serif;
    color:#090909;
    background: #FFFFFF;
    text-align: left;
    border: 5px solid #FFFFFF;

}
img{
    width: 100%;
    height: 100%;
}
header{
    background-color: #e8eff6;
    padding-right: 30%;
}
body{
    background-color: #e8eff6;
}
footer{
    text-align: center;
    padding-right: 10%;
    padding-left: 80%;
}
.video{
    float:right;
}
iframe{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 56.3%;
}
.livestream{
    padding: 56.25% 0px 0px; 
    margin-left: 50%; 
    margin-top:15%;
    padding-bottom:0; 
    padding-right: 5px;
    position: relative;
}
.lefttext{
    text-align:RIGHT;
    padding-left: 10%;
    padding-right: 55%;
    float:left;
    position:absolute;
}
.righttext{
    text-align:right;
    float:right;
    position: absolute;
    padding-left: 50%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.statement{
    padding-left: 30%;
    padding-right: 20%;
}
.profiledesc{
    padding-left: 5%;
    padding-right: 50%;
}
.gallerydesc{
    padding-left: 5%;
    padding-right: 75%;
}
.gallery{
    float: left;
    padding-left: 40%;
    padding-right: 10%;
    position: absolute;
}
.profiles{
    float:right;
    position: absolute;
    padding-left: 55%;
    padding-right: 15%;
}
.advert{
    margin-top: 0;
}
.poster{
    height:50%;
    width:50%;
    margin-top: 400px; 
    margin-left:25%;
    margin-right:25%;
}
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .livestream {margin-left: 0%; margin-top: 100%;}
    h1 {font-size: 30px;}
    h2 {font-size: 27px;}
    h3 {font-size: 25px;}
    .lefttext {padding-right: 10%;}
    iframe {height: 100%; top: 120%;bottom:0%;}
    .statement{padding-left:10%;padding-right:10%;}
    footer{padding-left:70%}
    .poster{margin-top:0px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width:768px) {
    .livestream {margin-left: 0%; margin-top: 100%;}
    h1 {font-size: 30px;}
    h2 {font-size: 27px;}
    h3 {font-size: 25px;}
    .lefttext {padding-right: 10%;}
    iframe {height: 100%; top: 80%;bottom:0%;}
    .profiles{position:relative;float:none;padding-left:5%;}
    .poster{margin-top:0px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width:992) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1200) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }